# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VS Code
.vscode/

# Environment
.env
venv/

# Test and coverage
.coverage
htmlcov/
*.log

# OS
.DS_Store
Thumbs.db

# Distribution
build/
dist/
*.egg-info/
